{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">Login</h2>
        <form method="POST" class="p-4 border rounded">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <div class="text-center mt-3">
            <a href="{% url 'forgot_password' %}">Forgot Password?</a> | 
            <a href="{% url 'signup' %}">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}
